<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.fabric.sdk.android.unity">
  <application>
    <meta-data android:name="io.fabric.ApiKey" android:value="cf03bc6b36e679325d61cdf4198ad67e6a2657dc" />
    <meta-data android:name="io.fabric.unity.crashlytics.version" android:value="1.3.1" />
    <meta-data android:name="io.fabric.crashlytics.qualified" android:value="com.crashlytics.android.Crashlytics" />
    <meta-data android:name="io.fabric.crashlytics.unqualified" android:value="Crashlytics" />
    <meta-data android:name="io.fabric.kits" android:value="crashlytics" />
    <meta-data android:name="io.fabric.InitializationType" android:value="Automatic" />
  </application>
</manifest>